{% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <div>
      <link href="{% static 'styles/contact10.css' %}" rel="stylesheet" />
      <div class="contact10-container thq-section-padding">
        <div class="contact10-max-width thq-section-max-width">
          <div class="contact10-content thq-flex-row">
            <div class="contact10-content1">
              <h2>
                <fragment>
                  <span class="contact10-text08 thq-heading-2">Contact Us</span>
                </fragment>
              </h2>
              <p>
                <fragment>
                  <span class="contact10-text10 thq-body-large">
                    Have a question or need support?
                  </span>
                </fragment>
              </p>
            </div>
          </div>
          <div class="contact10-content2 thq-flex-row">
            <div class="contact10-container1">
              <img
                alt="Email Icon"
                src="https://images.unsplash.com/photo-1631799350517-13b750f86b06?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="contact10-image thq-img-ratio-16-9"
              />
              <h3>
                <fragment>
                  <span class="contact10-text06 thq-heading-3">
                    support@eyedness.com
                  </span>
                </fragment>
              </h3>
              <p>
                <fragment>
                  <span class="contact10-text07 thq-body-large">
                    Reach out to us via email for any inquiries or assistance.
                  </span>
                </fragment>
              </p>
              <div class="contact10-container2">
                <a
                  href="https://example.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="thq-button-flat thq-body-small"
                >
                  Get directions
                </a>
              </div>
            </div>
            <div class="contact10-container3">
              <img
                alt="Contact Us Image"
                src="https://images.unsplash.com/photo-1611532736637-13a8bdf96127?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="contact10-image1 thq-img-ratio-16-9"
              />
              <h3>
                <fragment>
                  <span class="contact10-text09 thq-heading-3">
                    +1-XXX-XXX-XXXX
                  </span>
                </fragment>
              </h3>
              <p>
                <fragment>
                  <span class="contact10-text11 thq-body-large">
                    For urgent matters, you can also contact us directly through
                    our phone number.
                  </span>
                </fragment>
              </p>
              <div class="contact10-container4">
                <a
                  href="https://example.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="thq-button-flat thq-body-small"
                >
                  Get directions
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  
