{% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <div>
      <link href="{% static 'styles/cta26.css' %}" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="thq-section-max-width">
          <div class="cta26-accent2-bg">
            <div class="cta26-accent1-bg">
              <div class="cta26-container1">
                <div class="cta26-content">
                  <span>
                    <fragment>
                      <span class="cta26-text3 thq-heading-2">
                        Get Started with Eyedness Today
                      </span>
                    </fragment>
                  </span>
                  <p>
                    <fragment>
                      <span class="cta26-text4 thq-body-large">
                        Experience the convenience and security of our recording
                        app
                      </span>
                    </fragment>
                  </p>
                </div>
                <div class="cta26-actions">
                  <button type="button" class="thq-button-filled cta26-button">
                    <span>
                      <fragment>
                        <span class="cta26-text5">Sign Up Now</span>
                      </fragment>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>

