{% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <div>
      <link href="{% static 'styles/footer4.css' %}" rel="stylesheet" />
      <footer class="footer4-footer7 thq-section-padding">
        <div class="footer4-max-width thq-section-max-width">
          <div class="footer4-content">
            <div class="footer4-logo">
              <img
                alt="Eyedness Logo"
                src="https://i.pinimg.com/originals/97/88/dc/9788dc08d20849b7e6028a0d3b2126de.jpg"
                class="footer4-logo1"
              />
            </div>
            <div class="footer4-links">
              <a
                href="https://example.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <fragment>
                  <span class="footer4-text11 thq-body-small">Home</span>
                </fragment>
              </a>
              <a
                href="https://example.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <fragment>
                  <span class="footer4-text10 thq-body-small">Features</span>
                </fragment>
              </a>
              <a
                href="https://example.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <fragment>
                  <span class="footer4-text04 thq-body-small">Pricing</span>
                </fragment>
              </a>
              <a
                href="https://example.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <fragment>
                  <span class="footer4-text08 thq-body-small">Contact Us</span>
                </fragment>
              </a>
              <a
                href="https://example.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <fragment>
                  <span class="footer4-text06 thq-body-small">FAQ</span>
                </fragment>
              </a>
            </div>
          </div>
          <div class="footer4-credits">
            <div class="thq-divider-horizontal"></div>
            <div class="footer4-row">
              <div class="footer4-container">
                <span class="thq-body-small">© 2024 Eyedness</span>
              </div>
              <div class="footer4-footer-links">
                <span>
                  <fragment>
                    <span class="footer4-text05 thq-body-small">
                      Privacy Policy
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment>
                    <span class="footer4-text07 thq-body-small">
                      Terms of Service
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment>
                    <span class="footer4-text09 thq-body-small">
                      Cookies Policy
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
 
