{% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <div>
      <link href="{% static 'styles/hero17.css' %}" rel="stylesheet" />
      <div class="hero17-header78">
        <div class="hero17-column thq-section-max-width thq-section-padding">
          <div class="hero17-content">
            <h1>
              <fragment>
                <span class="hero17-text6 thq-heading-1">
                  Eyedness - Your Anonimity is Safe
                </span>
              </fragment>
            </h1>
            <p>
              <fragment>
                <span class="hero17-text4 thq-body-large">
                  Capture and store your important moments with ease using our
                  secure recording app. Enjoy biometric access, instant
                  video/audio recording, and public/private sections for your
                  convenience.
                </span>
              </fragment>
            </p>
          </div>
          <div class="hero17-actions">
            <button class="thq-button-filled hero17-button">
              <span>
                <fragment>
                  <span class="hero17-text5 thq-body-small">Get Started</span>
                </fragment>
              </span>
            </button>
            <button class="thq-button-outline hero17-button1">
              <span>
                <fragment>
                  <span class="hero17-text7 thq-body-small">Learn More</span>
                </fragment>
              </span>
            </button>
          </div>
        </div>
        <div class="hero17-content1">
          <div
            class="hero17-row-container thq-mask-image-horizontal thq-animated-group-container-horizontal"
          >
            <div class="thq-animated-group-horizontal">
              <img
                alt="Secure Recording App"
                src="https://images.unsplash.com/photo-1533618821901-9e69d5f5360e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE3MXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Biometric Access"
                src="https://images.unsplash.com/photo-1521579498714-ff08ba4836ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image01 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Instant Recording"
                src="https://images.unsplash.com/photo-1577546568088-eb32790be7ec?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image02 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Public/Private Sections"
                src="https://images.unsplash.com/photo-1648138961982-97e78e530534?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE3MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image03 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Login Feature"
                src="https://images.unsplash.com/photo-1674558064171-759164ed379c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE3MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image04 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Register Feature"
                src="https://images.unsplash.com/photo-1528109966604-5a6a4a964e8d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image05 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
            <div class="thq-animated-group-horizontal">
              <img
                alt="Secure Recording App"
                src="https://images.unsplash.com/photo-1533618821901-9e69d5f5360e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE3MXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image06 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Biometric Access"
                src="https://images.unsplash.com/photo-1521579498714-ff08ba4836ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image07 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Instant Recording"
                src="https://images.unsplash.com/photo-1577546568088-eb32790be7ec?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image08 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Public/Private Sections"
                src="https://images.unsplash.com/photo-1648138961982-97e78e530534?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE3MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image09 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Login Feature"
                src="https://images.unsplash.com/photo-1674558064171-759164ed379c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE3MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image10 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1534312527009-56c7016453e6?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIxfHxhYnN0cmFjdHxlbnwwfHx8fDE3MTA4NzA5MzB8MA&amp;ixlib=rb-4.0.3&amp;w=1500"
                class="hero17-placeholder-image11 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
          </div>
          <div
            class="hero17-row-container1 thq-mask-image-horizontal thq-animated-group-container-horizontal"
          >
            <div class="thq-animated-group-horizontal-reverse">
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1598201116904-9613ee826e9a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image12 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1521579498714-ff08ba4836ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2OXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image13 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1691345519049-cb657c797645?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2OHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image14 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1517273006195-51fa3364bce2?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE3MXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image15 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1566847936715-5e147ef9caec?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image16 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1656128409741-ed76df824e0c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2OHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image17 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
            <div class="thq-animated-group-horizontal-reverse">
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1598201116904-9613ee826e9a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image18 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1521579498714-ff08ba4836ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2OXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image19 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1691345519049-cb657c797645?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2OHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image20 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1517273006195-51fa3364bce2?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE3MXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image21 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1566847936715-5e147ef9caec?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero17-placeholder-image22 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1568214379698-8aeb8c6c6ac8?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEyfHxncmFmaWN8ZW58MHx8fHwxNzE1Nzk0OTk5fDA&amp;ixlib=rb-4.0.3&amp;w=1500"
                class="hero17-placeholder-image23 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
          </div>
        </div>
        <div>
          <div class="hero17-container1">
            <style>
              @keyframes scroll-x {
                from {
                  transform: translateX(0);
                }
                to {
                  transform: translateX(calc(-100% - 16px));
                }
              }

              @keyframes scroll-y {
                from {
                  transform: translateY(0);
                }
                to {
                  transform: translateY(calc(-100% - 16px));
                }
              }
            </style>
          </div>
        </div>
      </div>
    </div>
  
  
