{% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <div>
      <link href="{% static 'styles/testimonial17.css' %}" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial17-max-width thq-section-max-width">
          <div class="testimonial17-container">
            <h2>
              <fragment>
                <span class="testimonial17-text17 thq-heading-2">
                  Testimonials
                </span>
              </fragment>
            </h2>
            <span>
              <fragment>
                <span class="testimonial17-text19 thq-body-small">
                  Eyedness has revolutionized the way we record and store
                  important information. The biometric access feature provides
                  an extra layer of security that gives me peace of mind.
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card">
                  <div class="testimonial17-container02">
                    <img
                      alt="Image of John Doe"
                      src="https://images.unsplash.com/photo-1645378999013-95abebf5f3c1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image"
                    />
                    <div class="testimonial17-container03">
                      <strong>
                        <fragment>
                          <span class="testimonial17-text21 thq-body-large">
                            John Doe
                          </span>
                        </fragment>
                      </strong>
                      <span>
                        <fragment>
                          <span class="testimonial17-text14 thq-body-small">
                            CEO at Tech Co.
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment>
                      <span class="testimonial17-text27 thq-body-small">
                        I love how easy it is to instantly record videos and
                        audio with Eyedness. It has become an essential tool in
                        my work.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card1">
                  <div class="testimonial17-container04">
                    <img
                      alt="Image of Jane Smith"
                      src="https://images.unsplash.com/photo-1579168483855-085e1a32fc48?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image1"
                    />
                    <div class="testimonial17-container05">
                      <strong>
                        <fragment>
                          <span class="testimonial17-text20 thq-body-large">
                            Jane Smith
                          </span>
                        </fragment>
                      </strong>
                      <span>
                        <fragment>
                          <span class="testimonial17-text16 thq-body-small">
                            Freelance Journalist
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment>
                      <span class="testimonial17-text22 thq-body-small">
                        The public/private sections in Eyedness are perfect for
                        organizing my recordings. I can easily switch between
                        personal and professional content.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card2">
                  <div class="testimonial17-container06">
                    <img
                      alt="Image of David Lee"
                      src="https://images.unsplash.com/photo-1519671845924-1fd18db430b8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image2"
                    />
                    <div class="testimonial17-container07">
                      <strong>
                        <fragment>
                          <span class="testimonial17-text25 thq-body-large">
                            David Lee
                          </span>
                        </fragment>
                      </strong>
                      <span>
                        <fragment>
                          <span class="testimonial17-text23 thq-body-small">
                            Photographer
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment>
                      <span class="testimonial17-text24 thq-body-small">
                        As a student, Eyedness helps me keep track of lectures
                        and study sessions. The convenience it offers is
                        unmatched.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card3">
                  <div class="testimonial17-container08">
                    <img
                      alt="Image of Emily Brown"
                      src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjI1MDE2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image3"
                    />
                    <div class="testimonial17-container09">
                      <strong>
                        <fragment>
                          <span class="testimonial17-text15 thq-body-large">
                            Emily Brown
                          </span>
                        </fragment>
                      </strong>
                      <span>
                        <fragment>
                          <span class="testimonial17-text18 thq-body-small">
                            Student
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment>
                      <span class="testimonial17-text26 thq-body-small">
                        I highly recommend Eyedness to anyone looking for a
                        secure and user-friendly recording app. It has exceeded
                        all my expectations.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  
